*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}

.button{
  font-size: 1rem;
  padding: 10px 15px;
  margin: 50px;
}

h3{
  text-align: center;
}

